.header h1{
    color: #ffffff;
    font-family: Forte;
    margin-left: 20px;
}
h2{
    color: #85395F;
    font-family: Segoe Print;
}

p,a{
    font-family: Segoe Print;
}

h4{
    color:rgb(10, 84, 245);
    font-family: Segoe Print;
}

h2, p {
    text-align: center;
}
body{
    background-color: #6178f791;
    
}

.header {
    background-color: #ff009d;
    display: flex;
    justify-content: space-between;  
    border-radius: 20px;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: flex-end;
    
}
.footer img{
    margin-right: 20px;
    border-radius: 50%;
}
.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
/*.header *{
    border: solid;
}*/
a:link{
    color: #ffffff;
}
a:visited{
    color: aqua;
}
.menu {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    margin-right: 40px;
}
.menu li{
    margin-right: 40px;
}
.menu a{
    margin-left: 30px;
    font-size: 20px;
}
.item {
    margin-top: 20px;
    position: relative;
}
.item p{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.item:hover p{
    opacity: 1;
}
.item:hover img {
    opacity:0.33;
    border: 10px inset rgb(253, 3, 211);
}
.item img{
    border-radius: 40px;
    border-style: groove;
    border-width: 10px;
    border-color: rgb(0, 255, 255);
}

.header img{
    border-radius: 50px;
    margin: 10px;
    
}

.header:hover img{
    opacity:0.50;
}